---

sourceless: true
notes: |
    Wrap each token with double curly brackets. {{   }}
---

<ul>
  <li>my.LP - H1</li>
  <li>my.LP - H3</li>
  <li>my.Email FROM</li>
  <li>my.Email FROM NAME</li>
  <li>my.Email REPLY TO</li>
  <li>my.Universal Phone Number</li>
  <li>company.Company Name: default=your company</li>
  <li>my.Event Date Long</li>
  <li>my.Event Date Short</li>
  <li>my.Event Time Range</li>
  <li>my.Event Time Start</li>
  <li>my.Event Landing Page URL</li>
  <li>my.Event Location</li>
</ul>
