---
name: Primary Button
notes: |
  This is a **primary** button.
order: -1

labels:
  - inprogress
  - approved
---

<tr>
  <td align="center" style="padding-top:40px;">
    <table cellpadding="0" cellspacing="0" border="0" style="width:280px;background-color:#0CAA41;border-radius:2px;" >
      <tr>
        <td align="center" height="45" valign="middle" style="height:45px;">
          <a href="#" style="display:inline-block;padding:12px 25px;font-family:'Lato', Helvetica, Arial, sans-serif;font-weight:bold;font-size:18px;line-height:24px;color:#ffffff;text-align:center;text-decoration:none;">
            <!--[if mso]>&nbsp;&nbsp;&nbsp;<![endif]-->Primary<!--[if mso]>&nbsp;&nbsp;&nbsp;<![endif]-->
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
