---
name: Banner Image
notes: |
  Dimensions 1200px x 200px
order: -1

labels:
  - inprogress
---

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center"><![endif]-->
<table role="presentation" align="center" cellpadding="0" cellspacing="0" border="0" style="width:100%;max-width:600px;background-color:#ffffff;Margin:0 auto;">
  <tr>
    <td align="center">
      <a href="#" target="_blank" style="text-decoration:none;"><img src="http://resources.glassdoor.com/rs/899-LOT-464/images/banner_1.png" alt="" width="600" style="display:block;border:0;outline:0;padding:0;width:100%;max-width:600px;height:auto;font-family:'Lato', Helvetica, Arial, sans-serif;font-size:14px;color:#ffffff;" class="mbl-banner-swap" /></a>
    </td>
  </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
