<tr>
  <td align="center">
    <table cellpadding="0" cellspacing="0" border="0" style="width:95%">
      <tr>
        <td valign="top" style="width:25px;font-family:'Lato', Helvetica, Arial, sans-serif;font-size:16px;line-height:24px;color:#333333;text-align:left;">&bull;</td>
        <td style="font-family:'Lato', Helvetica, Arial, sans-serif;font-size:16px;line-height:22px;color:#333333;text-align:left;">Aliquam ut erat justo. Duis tristique porttitor nisi, ac</td>
      </tr>
      <tr>
        <td valign="top" style="width:25px;font-family:'Lato', Helvetica, Arial, sans-serif;font-size:16px;line-height:24px;color:#333333;text-align:left;">&bull;</td>
        <td style="font-family:'Lato', Helvetica, Arial, sans-serif;font-size:16px;line-height:22px;color:#333333;text-align:left;">sagittis magna molestie ac. Mauris viverra dignissim</td>
      </tr>
      <tr>
        <td valign="top" style="width:25px;font-family:'Lato', Helvetica, Arial, sans-serif;font-size:16px;line-height:24px;color:#333333;text-align:left;">&bull;</td>
        <td style="font-family:'Lato', Helvetica, Arial, sans-serif;font-size:16px;line-height:22px;color:#333333;text-align:left;">Eu condimentum. Duis in eleifend turpis.</td>
      </tr>
    </table>
  </td>
</tr>
