---
name: Heading H1
notes: |
  These are some H1 heading elements, usually in the hero.

labels:
  - inprogress

---

<tr>
  <td style="padding-top:12px;font-family:'Lato', Helvetica, Arial, sans-serif;font-weight:700;font-size:24px;line-height:30px;color:#0d0d0d;text-align:left;">
    Headline Lato Bold 24/30 Lorem Ipsum Dolor  Sit Amet
  </td>
</tr>

