---
name: Paragraph Elements

notes: |
  These are some paragraph elements.
labels:
  - inprogress
---

<tr>
  <td style="padding-top:30px;font-family:'Lato', Helvetica, Arial, sans-serif;font-size:16px;line-height:22px;color:#333333;text-align:left;">Standard body copy Lato Regular 16/22 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis auctor lacus. Ut bibendum vestibulum odio molestie sollicitudin<sup style="font-size: 13px; vertical-align: super; line-height: 0;">1</sup>.</td>
</tr>
